@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 255, 103, 64;
        --primary-dark: 234, 97, 63;
        --secondary: 240, 241, 242;
        --swiper-theme-color: #ff8f34;
    }

    body {
        @apply overflow-y-auto;
    }

    #root,
    html,
    body {
        @apply h-full flex flex-col flex-grow;
        font-size: 16px;
    }
}

@layer components {
    .main-container {
        @apply container px-6 max-w-[1440px] mx-auto;
    }
}
